.heroPanel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heroContent {
  width: 100%;
  max-width: var(--layoutMaxWidth);
  margin: 0 auto;
  text-align: center;
}

.heading {
  margin: 4rem 0 8rem 0;
}
