.heroPanel {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heroContent {
  max-width: var(--layoutMaxWidth);
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.heading {
  margin: 48px 0;
}

.heading h1 {
  color: var(--colorGray8);
  margin: 2rem 0;
}

.widgetWrap {
  margin: 24px auto 12px 0;
}