.heroPanel {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.subHeader {
  font-size: 1.2rem;
}

.widgetWrap {
  margin: 0 auto;
  padding: 24px 0;
  width: 60vw;
}