.panel {
  color: white;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 8rem;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.form {
  max-width: var(--layoutMaxWidth)/2;
}

.heading {
  color: white;
  margin: 2rem;
}

.subheading {
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: var(--colorGray4);
}

.prose {
  color: var(--colorGray4);
}

.input,
.button {
  width: 100%;
  font-family: var(--fontDisplay);
  text-align: center;
  font-size: 2rem;
  line-height: 3.2rem;
  padding: 2rem 2rem;
}
