.panel {
  color: white;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 4rem 2rem;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.heading {
  color: white;
  margin: 1.6rem;
}

.prose {
  color: var(--colorGray4);
  margin: 0 auto;
  max-width: 496px;
}

.input {
  width: 50%;
}

.button {
  width: 100%;
}