.panel {
  color: white;
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heading {
  color: white;
  margin: 1.6rem;
}

.prose {
  color: white;
  margin: 0 auto;
  max-width: 496px;
}
