.splitContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 2rem;
  max-width: var(--layoutMaxWidth);
  margin: 0 auto;
}

.splitPanel {
  flex: 1;
  width: 50%;
}

@media (max-width: 768px) {
  .splitPanel {
    flex: 1 100%;
    width: 100%;
  }
}