.header {
  width: 100%;
  min-height: 30vh;
  background: linear-gradient(to right bottom,
    var(--colorWarm4 ) 0,
    var(--colorWarm4 ) 70%,
    var(--colorWarm3 ) 70%,
    var(--colorWarm3 ) 80%,
    var(--colorWarm2 ) 80%,
    var(--colorWarm2 ) 90%,
    var(--colorWarm1 ) 90%,
    var(--colorWarm1 ) 100%
  );
  color: white;
}

.header h1,
.header h2,
.header h3 {
  color: white;
}

.header h1 {
  margin: 1.2rem;
}

.content {
  min-height: 30vh;
  padding: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}