.header {
  width: 100%;
  min-height: 30vh;
  background: linear-gradient(to right bottom,
    var(--colorWarm4 ) 0,
    var(--colorWarm4 ) 70%,
    var(--colorWarm3 ) 70%,
    var(--colorWarm3 ) 80%,
    var(--colorWarm2 ) 80%,
    var(--colorWarm2 ) 90%,
    var(--colorWarm1 ) 90%,
    var(--colorWarm1 ) 100%
  );
  color: white;
  margin-bottom: 4.8rem;
}

.header h1 {
  color: rgba(255, 255, 255, 1);
  margin: 1.2rem;
}

.header h2,
.header h3 {
  color: rgba(255, 255, 255, 0.75);
}

.content {
  min-height: 30vh;
  padding: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .content {
    padding: 6rem 2rem;
  }
}