.panel {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.button {
  font-size: 1.4rem;
  padding: 2rem;
  border-radius: 4rem;
}

.panel0 {
  composes: panel;
  background-color: var(--colorWarm4);
}

.panel1 {
  composes: panel;
  background-color: var(--colorWarm2);
}

.panel2 {
  composes: panel;
  background-color: var(--colorWarm0);
}