.section {
  min-height: 60vh;
  padding: 4rem;
  max-width: 960px;
  margin: 0 auto;
}

.button {
  font-size: 1.4rem;
  padding: 2rem;
  border-radius: 4rem;
}

.panel {
  width: 50%;
}

.prosePanel {
  composes: panel;
  flex: 1;
  padding: 2rem;
}

.imagePanel {
  composes: panel;
}

.screenshotPanel {
  composes: imagePanel;
  align-self: flex-end;
}

@media (max-width: 768px) {
  .imagePanel,
  .prosePanel {
    flex: 1 100%;
    width: 100%;
  };

  .prosePanel { order: 1; }
  .imagePanel { order: 2; }

  .button {
    width: 100%;
  }
}