.assertionsPanel {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 24px 0;
}

.grid {
  max-width: 1100px;
  margin: 0 auto;

  display: flex;
  /*align-items: center;*/
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.col {
  flex: 1 auto;
  width: 33.3333%;
  padding: 0.5rem;
}

.colSVG {
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.colSVG img {
  width: 300px;
}

.colText {
  font-family: var(--fontDisplay);
  font-size: 2rem;
}

.button {
  font-size: 1.6rem;
  padding: 2rem 4rem;
  margin: 2rem 0;
}

.colSVGSwap {
  composes: colSVG;
}

.colTextSwap {
  composes: colText;
}

@media (max-width: 700px) {
  .col {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .colText {
    flex: 1 auto;
    width: 50%;
    order: 2;
    font-size: 1.6rem;
    padding-left: 2rem;
  }

  .colSVG {
    flex: 1 auto;
    width: 50%;
    height: auto;
    order: 1;
  }

  .colSVG img {
    width: 100%;
  }

  .colTextSwap {
    order: 1;
    padding-right: 2rem;
  }
  .colSVGSwap { order: 2; }
}