.logo {
  max-width: 350px;
  margin: 0 auto;
}

.awsServiceSVG {
  max-width: 60px;
}

.prosePanel {
  padding-left: 2rem;
}

@media (max-width: 720px) {
  .prosePanel {
    padding-left: 0;
  }

  .logo {
    padding: 4rem 2rem;
  }
}