.tier {
  border: solid 1px var(--colorPrimary);
  padding: 2rem;
}

.pricing {
  text-align: center;
}

.price {
  color: var(--colorWarm4);
  font-size: 4rem;
  line-height: 4rem;
}

.features {
  list-style-type: none;
  margin: 0;
  padding: 2rem 0;
}

.features li {
  margin: 0;
  padding: 1rem 0;
  border-bottom: solid 1px var(--colorGray2);
}

.features li:last-child {
  border-bottom: none;
}


.featureDisabled {
  text-decoration: line-through;
}


.pricingTableTH {
  background-color: var(--colorWarm4);
  color: white;
  font-weight: bold;
  padding: 2rem;
  text-align: center;
}
.pricingTableTHFree {
  composes: pricingTableTH;
  background-color: var(--colorGray5);
}

.pricingTableTH:first-of-type {
  border-right: 3px solid white;
}
.pricingTableTD {
  border-bottom: 1px solid var(--colorWarm4);
  padding: 2rem;
}

.priceFree {
  composes: price;
  color: var(--colorGray5);
}
.priceDol {
  margin-right: 0.3rem;
  vertical-align: top;
}
.priceNum {
  font-weight: bold;
  font-size: 4rem;
  vertical-align: top;
}
.priceNote {
  line-height: 1;
  color: var(--colorGray5);
}

.freeFeature {
  background-color: var(--colorGray5);
  border-radius: 1rem;
  color: white;
  font-weight: bold;
  margin-bottom: 2rem;
  padding: 2rem;
}

.freeSVG {
  display: block;
  margin: 0 auto 2rem auto;
}


@media (max-width: 720px) {

}