.tier {
  border: solid 1px var(--colorPrimary);
  border-radius: var(--borderRadius);
  padding: 2rem;
  margin-bottom: 2rem;

  display: flex; /* To align items inside */
  flex-direction: column;
  flex: 1; /* To equalize heights between columns */
  justify-content: space-between;
}

.button {
  font-size: 1.6rem;
  padding: 1.6rem 2rem;
}

/* Pricing */
.pricing {
  text-align: center;
}

.tierName {
  font-size: 2.4rem;
  font-family: var(--fontDisplay);
}

.price {
  color: var(--colorWarm4);
  font-size: 4rem;
  line-height: 4rem;
  font-family: var(--fontDisplay);
  padding: 1rem 0;
  margin-left: -1.5rem;
}

.dollarSign {
  font-size: 3rem;
  vertical-align: top;
}

.priceValue {
  padding: 0 0.25rem;
  display: inline-block;
  font-weight: bold;
  font-size: 6rem;
}

/* Features list */
.features {
  list-style-type: none;
  margin: 0;
  padding: 2rem 0;
  text-align: left;
}

.features li {
  margin: 0;
  padding: 1rem 0;
  border-top: solid 1px var(--colorGray2);
  line-height: 2.25rem;
}

.features li:last-child {
  border-bottom: solid 1px var(--colorGray2);
}

.featureDisabled {
  text-decoration: line-through;
  opacity: 0.65;
}

/* Features grid */
.freeFeature {
  padding: 2rem;
}

.freeSVG {
  display: block;
  margin: 0 auto 2rem auto;
  max-height: 40px;
  opacity: 0.85;
}
