html {
  font-size: 62.5%;
  line-height: 1.4;
}

html, body, :global(#root) {
  height: 100%;
  line-height: normal;
  -webkit-font-feature-settings:"liga" 0;
  font-feature-settings:"liga" 0;
  text-rendering: optimizeSpeed;
 -webkit-font-variant-ligatures: no-common-ligatures;
}

body {
  /* Base typography */
  font-size: 1.6rem;
  font-weight: 300;
  font-family: var(--fontMain);
  line-height: 1.42857;
  color: var(--colorGray6);
}

p {
  color: var(--colorGray6);
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin: 1.6rem 0;
}

/* Lists */
ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

li {
  margin-left: 2rem;
}

textarea:focus, input:focus{
  outline: none;
  /*border: solid 1px var(--colorAccent);*/
}

/* Link styling */
a {
  color: var(--colorAccent);
  text-decoration: none;
}

a:hover, a:focus {
  color: color(var(--colorAccent) shade(20%));
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

input, button {
  border-radius: 0;
}

button {
  cursor: pointer;
}