html {
  font-size: 62.5%;
  line-height: 1.4;
}

html, body, :global(#root) {
  height: 100%;
  line-height: normal;
}

body {
  /* Base typography */
  font-size: 1.6rem;
  font-weight: 300;
  font-family: var(--fontGotham);
  line-height: 1.42857;
}

/* Header typography */
h1, h2 {
  font-family: 'Dosis';
  text-transform: uppercase;
}

h1 {
  font-size: 4rem;
  line-height: 6.2rem;
  color: var(--colorGray9);
}

h2 {
  font-size: 2.4rem;
  color: var(--colorGray7);
  line-height: 3.4rem;
}

h3 {
  font-size: 2rem;
  line-height: 2.8rem;
  color: var(--colorGray7);
}

li {
  list-style-type: disc;
  margin: 0.8rem;
}

textarea:focus, input:focus{
  outline: none;
  border: solid 1px var(--colorAccent);
}