html {
  font-size: 62.5%;
  line-height: 1.4;
}

html, body, :global(#root) {
  height: 100%;
  line-height: normal;
}

body {
  /* Base typography */
  font-size: 1.6rem;
  font-weight: 300;
  font-family: var(--fontGotham);
  line-height: 1.42857;
}

/* Header typography */
h1 {
  font-size: 4rem;
  color: var(--colorGray9);
}

h2 {
  font-size: 2rem;
  color: var(--colorGray9);
  line-height: 2rem;
}

/* Link styling */
a {
  color: var(--colorPrimary);
  text-decoration: none;
}
a:hover, a:focus {
  color: #0c80df;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}