:global .block {
  display: block;
}

:global .width-full {
  width: 100%;
}

:global .text-center {
  text-align: center;
}

:global .small {
  font-size: 1.4rem;
}

:global .prose {
  color: var(--colorGray6);
  font-size: 1.6rem;
  line-height: 2.4rem;
}

:global p.prose {
  padding: 16px 0;
}

:global .text-muted {
  opacity: 0.75;
}

:global .text-accent {
  color: var(--colorAccent);
}

:global .text-accent-static {
  color: #FFD15E;
}

:global .text-danger {
  color: var(--colorWarm4);
}

:global .text-accent-light {
  color: #FFF;
}

:global .font-accent {
  font-family: var(--fontDisplay);
}

:global .section {
  padding: 2.4rem 0;
}

/* Clearfix fix */
/* @see https://css-tricks.com/snippets/css/clear-fix/ */
:global(.clearfix):after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

:global .clearfix {
  display: inline-block;
}

/* start commented backslash hack \*/
* html :global(.clearfix) { height: 1%; }
:global(.clearfix) { display: block; }
/* close commented backslash hack */

@media (max-width: 768px) {
  :global .block-sm {
    display: block;
  }

  :global .hide-sm {
    display: none;
  }
}
