:global .hide-tablet,
:global .hide-mobile {
  display:block;
}

:global .show-tablet,
:global .show-mobile {
  display:none;
}
:global .show-mobile {
  display:none;
}
:global .show-mobile.inline {
  display:none;
}

// Tablet
@media only screen and (max-width:770px) {
  :global .hide-tablet { display:none; }
  :global .show-tablet { display:block; }
}

// Mobile
@media only screen and (max-width:640px) {
  :global .hide-mobile { display:none!important; }
  :global .show-mobile { display:block!important; }
  :global .show-mobile.inline { display:inline-block!important; }
}
