/* Single assertion styling */
.assertion {
  background-color: #F6F6F6;
  border-left: solid 1rem var(--colorGray4);
  margin: 1rem 1rem 1rem 0;
  padding: 1rem;
  position: relative;
}

.assertionPassing {
  border-left-color: var(--colorSuccess);
}

.assertionFailing {
  border-left-color: var(--colorDanger);
}

/* Columns */
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.col {
  padding-right: 1rem;
}

.returnedValue {
  composes: col;
}

.relationship {
  composes: col;
}

.relationshipButtons {
  composes: col;
  flex-grow: 1;
}

.operand {
  composes: col;
  flex-grow: 1;
}

.label {
  color: var(--colorGray7);
  font-family: var(--fontDisplay);
  font-size: 1.4rem;
  margin: 0.5rem;
}


/* Remove assertion button */
.assertion .removeButton {
cursor: pointer;
  border-radius: 1.8rem;
  width: 3.6rem;
  height: 3.6rem;
  margin-right: -3.85rem; /* Width + a bit of margin */
  opacity: 0.4;
  padding: 0.5rem;
  position: absolute;
  right: 0;
}

.assertion:hover .removeButton {
  display: block;
}

.removeButton:hover {
  background-color: var(--colorGray5);
  opacity: 0.75;
}


/* OLD STUFF */
.button {
  font-size: 1.6rem;
  padding: 1.5rem 2rem;
  margin: 0 1rem 1rem 0;
}

.relationshipButtons {
  width: 100%;
  padding-top: 1rem;
  flex: 1;
}

/* The body snippet for JSON assertions */
.bodySnippet {
  background-color: var(--colorCodeBg);
  color: var(--colorCodeBody);
  padding: 1.2rem 2rem;
  line-height: 1.8rem;
}

/* JSON path input & heading */
.jsonPath {
  composes: col;
  width: 100%;
}

/*.jsonPath label {
  font-family: var(--fontDisplay);
  padding: 2rem 0;
  font-size: 2rem;
  color: var(--colorGray6);
}
*/
.assertion input {
  width: 100%;
}

.assertion input,
.assertion button {
  font-family: var(--fontDisplay);
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 1.5rem 2rem;
  border-radius: var(--borderRadius);
}

.assertion input {
    /* @see http://stackoverflow.com/questions/23211656/remove-ios-input-shadow */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background-color: white;
  box-sizing: border-box;
  border: solid 1px var(--colorGray4);
  padding: 0.5rem;
  width: 100%;

  font-family: var(--fontDisplay);
  font-size: 1.75rem;
  line-height: 2rem;
  padding: 1.5rem 2rem;
  border-radius: var(--borderRadius);
}

.relationshipButton {
  composes: button;
  margin: 0 1rem 0 0;
  font-family: var(--fontDisplay);
  font-size: 1.75rem;
  line-height: 2rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
}

.relationshipButtons .relationshipButton {
  margin-bottom: 1rem;
}

/* Autosuggest for JSON path input */
.suggestionsContainer {
  background-color: white;
  border: solid 1px var(--colorGray4);
  border-top: none;
  max-height: 25rem;
  overflow-y: auto;
}

.suggestions {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.suggestion {
  cursor: pointer;
  display: block;
  padding: 1.2rem 2rem;
  margin: 0;
}

.suggestionFocused {
  background: var(--colorAccent);
  color: white;
}
