.prose {
  text-align: left;
  margin: 4rem 0 2rem 0;
}

/*.urlInput button,
.urlInput input {
  font-size: 2rem;
  padding: 2rem 2rem;
  box-sizing: border-box;
  height: 7rem;
}

.urlInput input {
  font-family: monospace;
  color: var(--colorGray9);
  line-height: 2.4rem;
  border: solid 2px var(--colorGray3);
}

.urlInput input:focus {
  border-color: var(--colorAccent);
}

.urlInput button {
  padding: 2rem 6rem;
  border: solid 2px var(--colorAccent);
}

.urlInputExpanded {
  composes: urlInput;
}

.urlInputExpanded input,
.urlInputExpanded button {
  border-bottom: none;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
*/