.urlInput {
  max-width: 800px;
  margin: 8rem auto;
}

.urlInput button,
.urlInput input {
  font-size: 2rem;
  padding: 2rem 4rem;
  /* border-radius: 6rem; */
  box-sizing: border-box;
  height: 7rem;
}

.urlInput input {
  font-family: monospace;
  color: var(--colorGray9);
  line-height: 2.4rem;
  border: solid 2px var(--colorGray3);
}

.urlInput input:focus {
  border-color: var(--colorAccent);
}

.urlInput button {
  padding: 2rem 6rem;
  border: solid 2px var(--colorAccent);
}

@media (max-width: 768px) {
  .urlInput button,
  .urlInput input {
    font-size: 1.6rem;
    padding: 1rem 2rem;
    height: 5rem;
  }
}