.urlInput {
  max-width: 800px;
  margin: 8rem auto;
}

.urlInput button,
.urlInput input {
  font-size: 2rem;
  padding: 2rem 4rem;
  border-radius: 6rem;
  box-sizing: border-box;
  height: 7rem;
}

.urlInput input {
  font-family: monospace;
  color: var(--colorGray9);
  line-height: 2.4rem;
}

.urlInput button {
  padding: 2rem 6rem;
}