strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
code {
  display: inline;
  background-color: var(--colorGray2);
  font-family: monospace;
  outline: 3px solid var(--colorGray2);
  margin: 0 5px;
}

.humbleBrag {
  background-color: #fff3e0;
  border-radius: 0.5rem;
  font-style: italic;
  padding: 0.5rem 1rem;
  margin: 2rem -1rem;
}

.logoGuideFooter {
  display: block;
  margin: 0 auto;
  opacity: 0.5;
  width: 25%;
}

.guideFooter {
  font-size: 1.8rem;
  font-style: italic;
  line-height: 1.4;
}

.sectionHR {
  border:none;
  border-top:5px dotted #ddd;
  height:5px;
  margin: 5rem auto;
  width:25%;
}

.header {
  color: white;
}

.button {
  font-size: 1.4rem;
  padding: 2rem;
}

.offsetDivider {
  margin-top: -8rem;
  height: 12vmax; /* use height instead of margin/padding to clip phone */
  margin-bottom: 1rem;
}

.offsetPanel {
  margin-top: -3rem;
}

.section {
  min-height: 50vh;
}

.prosePanel {
  padding: 2rem;
}

.screenshotProsePanel {
  composes: prosePanel;
  align-self: flex-start;
}

.imagePanelThirds {
  align-self: flex-start;
  width: 33.3%;
  /*text-align: center;*/
  padding: 3rem;
}

.imagePanel {
  width: 50%;
  text-align: center;
  padding: 2rem;
}

.screenshotPanel {
  composes: imagePanel;
  padding-bottom: 0;
}

.svg {
  width: 100%;
  max-width: 360px;
}

.screenshotSVG {
  composes: svg;
}

@media (max-width: 768px) {
  .logoGuideFooter { width: 40%; }
  .prosePanel { order: 1; }
  .imagePanel { order: 2; }

  .imagePanel,
  .prosePanel {
    flex: 1 100%;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  };

  .button {
    width: 100%;
  }
}
