.footer {
  background-color: #212121;
  color: var(--colorGray4);
  z-index: 20;
  text-align: center;
  padding: 3.6rem 2rem;
}

.prose {
  margin: 0;
}

.logo {
  height: 7.4rem;
  opacity: 0.45;
}
