.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--layoutHeaderWidth);
  margin: 0 auto;
  padding-right: 2rem; /* logos already padded on the left */
}

.links,
.cta {
  display: inline;
  font-size: 1.5rem;
}

.cta {
  padding: 1.5rem 2rem !important;
  border-radius: 4px;
}

.links {
  padding: 0 1.6rem;
  font-family: var(--fontDisplay);
}

.logo {
  height: 9rem;
  padding: 2rem;
  width: auto;
}

.links li {
  display: inline;
}

.links li a {
  padding: 0.2rem 0.6rem;
}

.links li a:hover {
  text-decoration: none;
}

.authLinks {
  composes: links;
  margin-right: 0;
  padding-right: 0;
}

.authLinks li:last-child {
  margin-right: 0;
}

.navLinks {
  composes: links;
}

.activeLink {
  border-bottom: solid 1px white;
}

a.cta,
a.cta:hover {
  color: white !important;
  border-style: solid;
  border-width: 1px;
}

@media (max-width: 820px) {
  .links li { padding: 0; }
  .hideSm { display: none !important; }
  .navLinks { display: none; }
}

/* Light theme */
.light {
  composes: header;
  background-color: transparent;
}

.light .links a {
  color: white;
}

.light .links a:hover {
  color: #FFD15E;
}

.light a.cta {
  color: white;
  background-color: transparent;
  border-color: white;
}

.light a.cta:hover {
  background: white;
  color: var(--colorAccent);
}

.light a.cta:hover ,
.light a.cta:hover {
  color: var(--colorAccent) !important;
}

/* Dark theme */
.dark {
  composes: header;
  background-color: white;
}

.dark .links a {
  color: var(--colorGray4);
}

.dark .links a:hover {
  color: var(--colorPrimary);
}

.dark .cta {
  color: white;
  background-color: var(--colorWarm2);
  border-color: var(--colorWarm2);
}

.dark .cta:hover {
  background-color: color(var(--colorWarm2) shade(20%));
  border-color: color(var(--colorWarm2) shade(20%));
}
