.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--layoutHeaderWidth);
  margin: 0 auto;
  padding: 0 2rem;
}

.links,
.cta {
  display: inline;
  font-size: 1.6rem;
}

.links {
  padding: 0 1.6rem;
  font-family: var(--fontDisplay);
}

.logo {
  height: 100px;
  width: auto;
}

.links li {
  display: inline;
}

.links li a {
  padding: 1.6rem 0.6rem;
}

.links li a:hover {
  text-decoration: none;
}

.authLinks {
  composes: links;
  margin-right: 0;
  padding-right: 0;
}

.authLinks li:last-child {
  margin-right: 0;
}

.navLinks {
  composes: links;
}

@media (max-width: 768px) {
  .links li {
    padding: 0;
  }

  .navLinks { display: none; }
}

/* Light theme */
.light {
  composes: header;
  background-color: transparent;
}

.light .links a {
  color: white;
}

.light .links a:hover {
  color: #FFD15E;
}

.light .cta {
  color: white;
  background-color: transparent;
  border-color: white;
}

.light .cta:hover {
  background: white;
  color: var(--colorAccent);
}

/* Dark theme */
.dark {
  composes: header;
  background-color: white;
}

.dark .links a {
  color: var(--colorGray4);
}

.dark .links a:hover {
  color: var(--colorPrimary);
}

.dark .cta {
  color: white;
  background-color: var(--colorWarm2);
  border-color: var(--colorWarm2);
}

.dark .cta:hover {
  background-color: color(var(--colorWarm2) shade(20%));
  border-color: color(var(--colorWarm2) shade(20%));
}
