.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 80px;
  width: auto;
}

.links,
.cta {
  display: inline;
  font-size: 1.6rem;
  font-weight: 500;
}

.links {
  padding: 0 16px;
}

.links li {
  display: inline;
  margin: 0 12px;
}

.links a {
  color: var(--colorGray4);
}

.authLinks {
  composes: links;
  margin-right: 0;
  padding-right: 0;
}

.authLinks li:last-child {
  margin-right: 0;
}

.navLinks {
  composes: links;
}

@media (max-width: 920px) {
  .navLinks { display: none; }
}

.cta {
  color: white;
  background-color: var(--colorWarm2);
  border-color: var(--colorWarm2);
}

.cta:hover {
  background-color: color(var(--colorWarm2) shade(20%));
  border-color: color(var(--colorWarm2) shade(20%));
}