.group {
  position: relative;
  display: table;
  border-collapse: separate;
  width: 100%;
}

.input {
  display: table-cell;
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  background-color: #fff;
  background-image: none;
  color: var(--colorGray9);
  border-right: none !important;
}

.buttonWrapper {
  position: relative;
  font-size: 0;
  white-space: nowrap;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  display: table-cell;
  border-collapse: separate;
}

.button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}