.btn {
  /* Defaults */
  background-color: var(--colorAccent);
  border: 1px solid var(--colorAccent);


  background-image: none;
  border-radius: 2rem;
  box-shadow: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: 'Dosis';
  outline: 0;
  padding: 1rem 1.5rem;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  transition: background var(--transitionEaseOut), color var(--transitionEaseOut), border-color var(--transitionEaseOut), width var(--transitionEaseOut);
}

.btn svg {
  transition: fill var(--transitionEaseOut)
}

.btn:hover {
  background: color(var(--colorAccent) shade(20%));
}

.btnFill {
  background-color: var(--colorAccent);
}

.btnSecondary {
  background: none;
  color: var(--colorAccent);
}

.btnSecondary svg {
  fill: var(--colorAccent);
}

.btnSecondary:hover {
  background: var(--colorAccent);
  color: white;
}

.btnSecondary:hover svg {
  fill: #FFF;
}



